<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    <script src="js/lodash.4.17.15.min.js"></script>
    <script src="js/userModel.js"></script>
    <script src="js/userService.js"></script>
    <script src="js/userController.js"></script>
</head>
<body ng-app = "aussie">
    <h1 class="text-center">Users</h1>
    <div ng-controller="UserController">
        <div class="row">
            <div class="col-xs-12">
                <btn class="btn btn-primary" id="btn-add-new" ng-click="add()">Add</btn>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat = "user in users">
                <td>{[{ user.id }]}</td>
                <td>{[{ user.firstname + " " + user.lastname }]}</td>
                <td>{[{ user.address }]}</td>
                <td>{[{ user.phone }]}</td>
                <td>{[{ (user.gender == 'M') ? "Male" : "Female" }]}</td>
                <td>{[{ user.role.name }]}</td>
                <td>
                    <button class="btn btn-warning" ng-click="edit(user, $index)">Edit</button>
                    <button class="btn btn-danger" ng-click="delete(user.id, $index)">Delete</button>
                </td>
            </tr>
        </table>

        <div id="modal-user-form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{[{ currentUser.hasOwnProperty('id') ? "Update" : "Add" }]} User</h4>
                    </div>
                    <div class="modal-body">
                        <form name="userForm" novalidate>
                            <div class="form-group">
                                <label for="firstname">Firstname</label>
                                <input name="firstname" ng-model="currentUser.firstname" ng-pattern="/[^0-9]$/" required placeholder="Firstname" type="text" class="form-control" >
                                <span ng-show="userForm.firstname.$touched && userForm.firstname.$invalid" class="text-danger">
                                    <i>Please enter firstname without numeric.</i>
                                </span>
                            </div>
                            <div class="form-group" ng-class="{'has-error': userForm.lastname.$touched && userForm.lastname.$invalid}">
                                <label for="lastname">Lastname</label>
                                <input name="lastname" ng-model="currentUser.lastname" ng-pattern="/[^0-9]$/" required placeholder="Lastname" type="text" class="form-control" >
                                <span ng-show="userForm.lastname.$touched && userForm.lastname.$invalid" class="help-block">
                                    <i>Please enter lastname without numeric.</i>
                                </span>
                            </div>
                            <div class="form-group" ng-class="{'has-error': userForm.phone.$touched && userForm.phone.$invalid}">
                                <label for="phone">Phone</label>
                                <input name="phone" ng-model="currentUser.phone" ng-minlength="10" required placeholder="Phone" type="text" class="form-control" >
                                <span ng-show="userForm.phone.$touched && userForm.phone.$invalid" class="help-block">
                                    <i>Please enter phone number (at least 10 characters).</i>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea name="address" ng-model="currentUser.address" placeholder="Address" class="form-control" ></textarea>
                            </div>

                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" required ng-model="currentUser.gender" value="M"> Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" required ng-model="currentUser.gender" value="F"> Female
                                </label>
                                <div ng-show="userForm.gender.$touched && userForm.gender.$invalid" class="help-block">
                                    <i>Please choose gender.</i>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error': userForm.role.$touched && userForm.role.$invalid}">
                                <label for="role">Role</label>
                                <select ng-model="currentUser.roleId" class="form-control" ng-options="role.id as role.name for (x, role) in roles">
                                </select>
                                <span ng-show="userForm.role.$touched && userForm.role.$invalid" class="help-block">
                                    <i>Please choose role.</i>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancelForm()">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="submitForm()" ng-disabled="!userForm.$valid">Save</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</body>
